name: deploy ansible

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:


  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
      
    #- name: Lint Ansible Playbook
   # uses: ansible/ansible-lint-action@main

  
  deployAnsible:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./actions/ansible
      with: 
        playbook: playbook.yaml
        inventory: hosts
